html,
body {
	overflow: hidden;
	background-color: $gray;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

.search-wrap {
	position: absolute;
	top: 12px;
	right: $rightSidebarWidth;
	left: $leftSidebarWidth;
	bottom: 12px;
	input {
		width: 100%;
		height: 36px;
		background-color: rgba(255,255,255,.1);
		border: 0;
	    -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px; 
        color: white;
        position: relative;
        z-index: 10;
        padding-left: 60px;
        -webkit-transition: .2s;
        transition: .2s;
        &::-webkit-input-placeholder {
		   color: rgba(255,255,255,.75);
		}
		&:-moz-placeholder { /* Firefox 18- */
		   color: rgba(255,255,255,.75);  
		}
		&::-moz-placeholder {  /* Firefox 19+ */
		   color: rgba(255,255,255,.75);  
		}
		&:-ms-input-placeholder {  
		   color: rgba(255,255,255,.75);  
		}
		&:focus {
			background-color: rgba(255,255,255,1);
			color: $gray;
	        &::-webkit-input-placeholder {
			   color: rgba(0,0,0,.5);
			}
			&:-moz-placeholder { /* Firefox 18- */
			   color: rgba(0,0,0,.5);  
			}
			&::-moz-placeholder {  /* Firefox 19+ */
			   color: rgba(0,0,0,.5);  
			}
			&:-ms-input-placeholder {  
			   color: rgba(0,0,0,.5);  
			}
			&~i.material-icons {
				color: $gray;
			}
		}
	}
	i.material-icons {
		position: absolute;
		z-index: 11;
		color: white;
		&.search {
			top: 7px;
			left: 16px;
		}
		&.cancel {
			top: 8px;
			right: 16px;
			font-size: 21px;
			opacity: .5;
			cursor: pointer;
			-webkit-transition: .2s;
            transition: .2s;
			&:hover { opacity: 1; }
			&.ng-enter { opacity: 0; }
			&.ng-enter.ng-enter-active { opacity: .5; }
			&.ng-leave { opacity: .5; }
			&.ng-leave.ng-leave-active { opacity: 0; }
		}
	}
}

.toolbar {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: $toolbarHeight;
	background-color: $toolbarColor;
	h3 {
		position: absolute;
		left: 0;
		top: 0;
		width: $leftSidebarWidth;
		padding: 21px 32px;
		color: white;
		font-size: 16px;
		margin: 0;
		font-weight: normal;
	}
	.actions {
		position: absolute;
		right: 0;
		top: 0;
		width: $rightSidebarWidth;
		height: $toolbarHeight;
		padding: 12px;
		button {
			margin: 0 6px;
			height: 36px;
			background-color: transparent;
			border: 0;
			i.material-icons {
				line-height: 34px;
				color: white;
			}
		}
	}
}

.col-xl-2 {
	@media (min-width: 1600px) {
		width: 16.66667%;
		float: left;
	} 
}

#app-frame {
	background-color: $bodyBgColor;
	position: fixed;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left:0;
	#appbar {
		height: $appbarHeight;
		background-color: $appbarColor;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 20;
		.logo {
			position: absolute;
			top: 0;
			left: 0;
			margin: 0;
			color: #fff;
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: .175em;
			font-weight: 400;
			text-rendering: optimizeLegibility;
			-webkit-font-smoothing: antialiased;
			width: 100%;
			height: 60px;
			-webkit-transition: .5s;
			-moz-transition: .5s;
			-ms-transition: .5s;
			transition: .5s;
			.logo-inside {
				-webkit-transition: .5s;
				-moz-transition: .5s;
				-ms-transition: .5s;
				transition: .5s;
				text-align: center;
				display: block;
				width: auto;
				padding: 14px 0;
				min-width: 100%;
				min-width: 0;
				position: absolute;
				top: 0;
				left: $leftSidebarWidth;
				margin: 0 auto;
				img {
					width: 80px;
					-webkit-transition: .5s;
					-moz-transition: .5s;
					-ms-transition: .5s;
					transition: .5s;
				}
			}	

		}
		nav.main-nav {
			position: absolute;
			top: 0;
			right: $rightSidebarWidth;
			height: $appbarHeight;
			ul {
				padding: 0;
				margin: 0;
				li {
					display: inline-block;
					margin-left: -3px;
					&.active {
						a {
							border-bottom: 2px solid $primaryColor;
						}
					}
					a {
						display: block;
						height: $appbarHeight;
						padding: 20px;
						color: rgba(255,255,255,0.8);
						text-transform: uppercase;
						font-size: 13px;
						font-weight: bold;
						border-bottom: 2px solid transparent;
						&:hover {
							text-decoration: none;
							color: white;
						}
					}
				}
			}
		}
		.right-actions {
			position: absolute;
			top: 0;
			right: 0;
			width: $rightSidebarWidth;
		}
		.team-menu,
		.user-menu {
			position: absolute;
			z-index: 10;
			top: 8px;
			left: 21px;
			button {
				width: $leftSidebarWidth - 42;
				text-align: left;
				padding: 10px 42px;
				background-color: transparent;
				border: 0;
				color: white;
				i.material-icons {
					line-height: 1.5;
					&.left {
						position: absolute;
						left: 8px;
						top: 2px;
					}
					&.right {
						position: absolute;
						right: 8px;
						top: 2px;
					}
				}
			}
		}	
		.user-menu {
			left: 0;
			button {
				width: auto;
			}
		}	
		.message-btn {
			position: absolute;
			top: 8px;
			right: 70px;
			background-color: transparent;
			border: 0;
			color: white;
			i.material-icons {
				line-height: 1.5;
			}
		}	
		.menu {
			position: absolute;
			top: 0;
			right: 14px;
			button.menu-btn {
				background-color: transparent;
				border: 0;
				width: $appbarHeight;
				height: $appbarHeight;
				i.material-icons {
					color: white;
					line-height: 1.5;
				}
			}
			.dropdown-menu {
				margin-top: -10px;
			}
		}
	}
	#content-wrap {
		-webkit-transition: .5s;
		-moz-transition: .5s;
		-ms-transition: .5s;
		transition: .5s;
		-webkit-transition-delay: .5s;
	    transition-delay: .5s;
		position: absolute;
		top: $appbarHeight;
		right: 0;
		bottom: 0;
		left: 0;
		#content {
			position: absolute;
			top:0;
			right:0;
			bottom:0;
			left: 0;
			.main {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: $sidebarWidth;
			}
		}
	}
}